In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 100

In [2]:
propsale1517 = pd.read_csv('propsalesacs_1517_bgs.csv')
propsale1517.head()

,id,meansp1517,minsp1517,maxsp1517,mediansp1517,stddevsp1517,totsp1517,nums1517,mhi16,pir1517,mgr_phi16,mmoc_phi16
0,370630001011,172019.48,30000.0,451000.0,166000.0,75865.55,13245500.0,77.0,36809.0,4.51,37.8,17.9
1,370630001012,131871.95,36000.0,435000.0,123750.0,64231.34,10813500.0,82.0,48458.0,2.55,22.2,19.2
2,370630001021,176412.70,41000.0,435000.0,170000.0,69456.50,11114000.0,63.0,35387.0,4.80,41.7,14.1
3,370630001022,174965.28,35000.0,451000.0,172500.0,74082.57,12597500.0,72.0,51956.0,3.32,21.0,16.5
4,370630002001,230428.57,67500.0,451000.0,225750.0,92407.38,6452000.0,28.0,28375.0,7.96,35.7,30.6

In [3]:
sr = pd.read_excel('../../../../data/census/LTDB/SeriesReport-20180317143845_33d15e.xlsx',header=1,skiprows=[0,1,2,3,4,5,6,7,8,9])
annual_cpi = sr.Annual
year = sr.Year
cpi_ratio = annual_cpi[year[year == 2017].index[0]]/annual_cpi[year[year == 2016].index[0]]
cpi_ratio

1.020473415502037

In [4]:
propsale1517['meansp1517a17'] = propsale1517.meansp1517*cpi_ratio
propsale1517['minsp1517a17'] = propsale1517.minsp1517*cpi_ratio
propsale1517['maxsp1517a17'] = propsale1517.maxsp1517*cpi_ratio
propsale1517['mediansp1517a17'] = propsale1517.mediansp1517*cpi_ratio
propsale1517['stddevsp1517a17'] = propsale1517.stddevsp1517*cpi_ratio
propsale1517['totsp1517a17'] = propsale1517.totsp1517*cpi_ratio
propsale1517['mhi16a17'] = propsale1517.mhi16*cpi_ratio

propsale1517cols = ['id','meansp1517','meansp1517a17','minsp1517','minsp1517a17','maxsp1517','maxsp1517a17',
                  'mediansp1517','mediansp1517a17','stddevsp1517','stddevsp1517a17','totsp1517','totsp1517a17',
                  'nums1517','mhi16','mhi16a17','pir1517','mgr_phi16','mmoc_phi16']
propsale1517 = propsale1517[propsale1517cols]
propsale1517.head()

,id,meansp1517,meansp1517a17,minsp1517,minsp1517a17,maxsp1517,maxsp1517a17,mediansp1517,mediansp1517a17,stddevsp1517,stddevsp1517a17,totsp1517,totsp1517a17,nums1517,mhi16,mhi16a17,pir1517,mgr_phi16,mmoc_phi16
0,370630001011,172019.48,175541.306288,30000.0,30614.202465,451000.0,460233.510391,166000.0,169398.586973,75865.55,77418.776927,13245500.0,1.351668e+07,77.0,36809.0,37562.605951,4.51,37.8,17.9
1,370630001012,131871.95,134571.819225,36000.0,36737.042958,435000.0,443905.935743,123750.0,126283.585168,64231.34,65546.374912,10813500.0,1.103489e+07,82.0,48458.0,49450.100768,2.55,22.2,19.2
2,370630001021,176412.70,180024.470507,41000.0,41839.410036,435000.0,443905.935743,170000.0,173480.480635,69456.50,70878.511784,11114000.0,1.134154e+07,63.0,35387.0,36111.492754,4.80,41.7,14.1
3,370630001022,174965.28,178547.416876,35000.0,35716.569543,451000.0,460233.510391,172500.0,176031.664174,74082.57,75599.293237,12597500.0,1.285541e+07,72.0,51956.0,53019.716776,3.32,21.0,16.5
4,370630002001,230428.57,235146.229857,67500.0,68881.955546,451000.0,460233.510391,225750.0,230371.873550,92407.38,94299.274686,6452000.0,6.584094e+06,28.0,28375.0,28955.933165,7.96,35.7,30.6

In [5]:
singfam18 = pd.read_csv('singfamhouse_bgs_011818.csv')
singfam18.head()

,id,mean_sfno011818,tot_sfno011818,num_sfno011818,mean_sfoo011818,tot_sfoo011818,num_sfoo011818,prc_sfno011818
0,370630001011,114821.52,2411252.0,21.0,131321.37,44255303.0,337.0,5.87
1,370630001012,94182.83,2166205.0,23.0,111159.80,47242914.0,425.0,5.13
2,370630001021,126377.45,1390152.0,11.0,145789.92,48256465.0,331.0,3.22
3,370630001022,124799.79,2995195.0,24.0,144828.32,57352016.0,396.0,5.71
4,370630002001,147285.20,1472852.0,10.0,194729.51,33493476.0,172.0,5.49

In [6]:
acspop16 = pd.read_csv('acs_pop_2016.csv')

colnames = {}

for column in acspop16.columns:
    if column != 'id':
        colnames.update({column:column[0:len(column)-3]+'16'})

acspop16.rename(columns=colnames,inplace=True)

acspop16.head()

,id,pop16,ptwhnl16,ptblknl16,ptnanl16,ptasnl16,ptpanl16,ptothnl16,pt2mnl16,ptlat16
0,370630001011,1165,57.43,27.30,0.00,0.00,0.0,0.0,7.30,7.98
1,370630001012,1861,12.68,62.55,0.00,0.00,0.0,0.0,0.59,24.18
2,370630001021,2918,33.38,36.60,0.00,0.51,0.0,0.0,0.00,29.51
3,370630001022,1588,53.46,20.78,0.00,2.39,0.0,0.0,5.10,18.26
4,370630002001,1219,27.40,31.50,1.07,0.00,0.0,0.0,0.90,39.13

In [7]:
bgs1518 = pd.merge(propsale1517,singfam18,on='id')
bgs1518 = bgs1518.merge(acspop16,on='id')
bgs1518.head()

,id,meansp1517,meansp1517a17,minsp1517,minsp1517a17,maxsp1517,maxsp1517a17,mediansp1517,mediansp1517a17,stddevsp1517,stddevsp1517a17,totsp1517,totsp1517a17,nums1517,mhi16,mhi16a17,pir1517,mgr_phi16,mmoc_phi16,mean_sfno011818,tot_sfno011818,num_sfno011818,mean_sfoo011818,tot_sfoo011818,num_sfoo011818,prc_sfno011818,pop16,ptwhnl16,ptblknl16,ptnanl16,ptasnl16,ptpanl16,ptothnl16,pt2mnl16,ptlat16
0,370630001011,172019.48,175541.306288,30000.0,30614.202465,451000.0,460233.510391,166000.0,169398.586973,75865.55,77418.776927,13245500.0,1.351668e+07,77.0,36809.0,37562.605951,4.51,37.8,17.9,114821.52,2411252.0,21.0,131321.37,44255303.0,337.0,5.87,1165,57.43,27.30,0.00,0.00,0.0,0.0,7.30,7.98
1,370630001012,131871.95,134571.819225,36000.0,36737.042958,435000.0,443905.935743,123750.0,126283.585168,64231.34,65546.374912,10813500.0,1.103489e+07,82.0,48458.0,49450.100768,2.55,22.2,19.2,94182.83,2166205.0,23.0,111159.80,47242914.0,425.0,5.13,1861,12.68,62.55,0.00,0.00,0.0,0.0,0.59,24.18
2,370630001021,176412.70,180024.470507,41000.0,41839.410036,435000.0,443905.935743,170000.0,173480.480635,69456.50,70878.511784,11114000.0,1.134154e+07,63.0,35387.0,36111.492754,4.80,41.7,14.1,126377.45,1390152.0,11.0,145789.92,48256465.0,331.0,3.22,2918,33.38,36.60,0.00,0.51,0.0,0.0,0.00,29.51
3,370630001022,174965.28,178547.416876,35000.0,35716.569543,451000.0,460233.510391,172500.0,176031.664174,74082.57,75599.293237,12597500.0,1.285541e+07,72.0,51956.0,53019.716776,3.32,21.0,16.5,124799.79,2995195.0,24.0,144828.32,57352016.0,396.0,5.71,1588,53.46,20.78,0.00,2.39,0.0,0.0,5.10,18.26
4,370630002001,230428.57,235146.229857,67500.0,68881.955546,451000.0,460233.510391,225750.0,230371.873550,92407.38,94299.274686,6452000.0,6.584094e+06,28.0,28375.0,28955.933165,7.96,35.7,30.6,147285.20,1472852.0,10.0,194729.51,33493476.0,172.0,5.49,1219,27.40,31.50,1.07,0.00,0.0,0.0,0.90,39.13

In [8]:
propsale1314 = pd.read_csv('propsalescompass_1314_bgs.csv')
propsale1314.head()

,id,meansp1314,minsp1314,maxsp1314,mediansp1314,stddevsp1314,totsp1314,nums1314,mhi1314,pir1314
0,370630001011,116903.85,30000.0,380000.0,125000.0,54906.52,6079000.0,52.0,42604.0,2.93
1,370630001012,90948.72,18000.0,185000.0,88500.0,46406.21,3547000.0,39.0,37666.0,2.35
2,370630001021,129565.79,31000.0,251000.0,139500.0,47521.71,4923500.0,38.0,33448.5,4.17
3,370630001022,144633.44,40000.0,600000.0,129000.0,76340.84,8967273.0,62.0,39839.5,3.24
4,370630002001,151568.18,40000.0,355000.0,130500.0,87785.76,3334500.0,22.0,28024.0,4.66

In [9]:
cpi_ratio = annual_cpi[year[year == 2017].index[0]]/annual_cpi[year[year == 2014].index[0]]
cpi_ratio

1.0299455220514244

In [10]:
propsale1314['meansp1314a17'] = propsale1314.meansp1314*cpi_ratio
propsale1314['minsp1314a17'] = propsale1314.minsp1314*cpi_ratio
propsale1314['maxsp1314a17'] = propsale1314.maxsp1314*cpi_ratio
propsale1314['mediansp1314a17'] = propsale1314.mediansp1314*cpi_ratio
propsale1314['stddevsp1314a17'] = propsale1314.stddevsp1314*cpi_ratio
propsale1314['totsp1314a17'] = propsale1314.totsp1314*cpi_ratio
propsale1314['mhi1314a17'] = propsale1314.mhi1314*cpi_ratio

propsale1314cols = ['id','meansp1314','meansp1314a17','minsp1314','minsp1314a17','maxsp1314','maxsp1314a17',
                    'mediansp1314','mediansp1314a17','stddevsp1314','stddevsp1314a17','totsp1314','totsp1314a17',
                    'nums1314','mhi1314','mhi1314a17','pir1314']
propsale1314 = propsale1314[propsale1314cols]
propsale1314.head()

,id,meansp1314,meansp1314a17,minsp1314,minsp1314a17,maxsp1314,maxsp1314a17,mediansp1314,mediansp1314a17,stddevsp1314,stddevsp1314a17,totsp1314,totsp1314a17,nums1314,mhi1314,mhi1314a17,pir1314
0,370630001011,116903.85,120404.596818,30000.0,30898.365662,380000.0,391379.298380,125000.0,128743.190256,54906.52,56550.724405,6079000.0,6.261039e+06,52.0,42604.0,43879.799021,2.93
1,370630001012,90948.72,93672.226900,18000.0,18539.019397,185000.0,190539.921580,88500.0,91150.178702,46406.21,47795.868185,3547000.0,3.653217e+06,39.0,37666.0,38793.928034,2.35
2,370630001021,129565.79,133445.705222,31000.0,31928.311184,251000.0,258516.326035,139500.0,143677.400326,47521.71,48944.772415,4923500.0,5.070937e+06,38.0,33448.5,34450.132794,4.17
3,370630001022,144633.44,148964.563867,40000.0,41197.820882,600000.0,617967.313231,129000.0,132862.972345,76340.84,78626.906308,8967273.0,9.235803e+06,62.0,39839.5,41032.514626,3.24
4,370630002001,151568.18,156106.968276,40000.0,41197.820882,355000.0,365630.660328,130500.0,134407.890628,87785.76,90414.550412,3334500.0,3.434353e+06,22.0,28024.0,28863.193310,4.66

In [11]:
singfam17 = pd.read_csv('singfamhouse_bgs_100517.csv')
singfam17.head()

,id,mean_sfno100517,tot_sfno100517,num_sfno100517,mean_sfoo100517,tot_sfoo100517,num_sfoo100517,prc_sfno100517
0,370630001011,113320.41,2493049.0,22.0,131811.19,44156750.0,335.0,6.16
1,370630001012,94385.38,2265249.0,24.0,111086.86,46989742.0,423.0,5.37
2,370630001021,126377.45,1390152.0,11.0,145806.21,48261856.0,331.0,3.22
3,370630001022,127027.20,3175680.0,25.0,145069.79,57302566.0,395.0,5.95
4,370630002001,147285.20,1472852.0,10.0,196170.88,33349049.0,170.0,5.56

In [12]:
acspop1314 = pd.read_csv('compass_pop_1314.csv')

colnames = {}

for column in acspop1314.columns:
    if column != 'id':
        colnames.update({column:column[0:len(column)-3]+column[len(column)-2:]})

acspop1314.rename(columns=colnames,inplace=True)

acspop1314.head()

,id,pop13,pop14,ptwhnl13,ptwhnl14,ptblknl13,ptblknl14,ptasnl13,ptasnl14,ptothnl13,ptothnl14,ptlat13,ptlat14
0,370630001011,1261,1261,43.3,43.3,30.1,30.1,1.4,1.4,1.9,1.9,23.3,23.3
1,370630001012,1891,1891,15.5,15.5,65.6,65.6,1.0,1.0,2.6,2.6,15.2,15.2
2,370630001021,2585,2585,25.0,25.0,34.7,34.7,0.8,0.8,2.4,2.4,37.0,37.0
3,370630001022,1950,1950,45.1,45.1,33.3,33.3,2.3,2.3,2.1,2.1,17.2,17.2
4,370630002001,861,861,34.0,34.0,49.1,49.1,0.2,0.2,3.1,3.1,13.5,13.5

In [13]:
bgs1314 = pd.merge(propsale1314,singfam17,on='id')
bgs1314 = bgs1314.merge(acspop1314,on='id')
bgs1314.head()

,id,meansp1314,meansp1314a17,minsp1314,minsp1314a17,maxsp1314,maxsp1314a17,mediansp1314,mediansp1314a17,stddevsp1314,stddevsp1314a17,totsp1314,totsp1314a17,nums1314,mhi1314,mhi1314a17,pir1314,mean_sfno100517,tot_sfno100517,num_sfno100517,mean_sfoo100517,tot_sfoo100517,num_sfoo100517,prc_sfno100517,pop13,pop14,ptwhnl13,ptwhnl14,ptblknl13,ptblknl14,ptasnl13,ptasnl14,ptothnl13,ptothnl14,ptlat13,ptlat14
0,370630001011,116903.85,120404.596818,30000.0,30898.365662,380000.0,391379.298380,125000.0,128743.190256,54906.52,56550.724405,6079000.0,6.261039e+06,52.0,42604.0,43879.799021,2.93,113320.41,2493049.0,22.0,131811.19,44156750.0,335.0,6.16,1261,1261,43.3,43.3,30.1,30.1,1.4,1.4,1.9,1.9,23.3,23.3
1,370630001012,90948.72,93672.226900,18000.0,18539.019397,185000.0,190539.921580,88500.0,91150.178702,46406.21,47795.868185,3547000.0,3.653217e+06,39.0,37666.0,38793.928034,2.35,94385.38,2265249.0,24.0,111086.86,46989742.0,423.0,5.37,1891,1891,15.5,15.5,65.6,65.6,1.0,1.0,2.6,2.6,15.2,15.2
2,370630001021,129565.79,133445.705222,31000.0,31928.311184,251000.0,258516.326035,139500.0,143677.400326,47521.71,48944.772415,4923500.0,5.070937e+06,38.0,33448.5,34450.132794,4.17,126377.45,1390152.0,11.0,145806.21,48261856.0,331.0,3.22,2585,2585,25.0,25.0,34.7,34.7,0.8,0.8,2.4,2.4,37.0,37.0
3,370630001022,144633.44,148964.563867,40000.0,41197.820882,600000.0,617967.313231,129000.0,132862.972345,76340.84,78626.906308,8967273.0,9.235803e+06,62.0,39839.5,41032.514626,3.24,127027.20,3175680.0,25.0,145069.79,57302566.0,395.0,5.95,1950,1950,45.1,45.1,33.3,33.3,2.3,2.3,2.1,2.1,17.2,17.2
4,370630002001,151568.18,156106.968276,40000.0,41197.820882,355000.0,365630.660328,130500.0,134407.890628,87785.76,90414.550412,3334500.0,3.434353e+06,22.0,28024.0,28863.193310,4.66,147285.20,1472852.0,10.0,196170.88,33349049.0,170.0,5.56,861,861,34.0,34.0,49.1,49.1,0.2,0.2,3.1,3.1,13.5,13.5

In [14]:
bgs1318 = pd.merge(bgs1314,bgs1518,on='id')
bgs1318.to_csv('durham_bgs1318.csv',index=False,float_format='%.2f',na_rep='NaN')
bgs1318.head()

,id,meansp1314,meansp1314a17,minsp1314,minsp1314a17,maxsp1314,maxsp1314a17,mediansp1314,mediansp1314a17,stddevsp1314,stddevsp1314a17,totsp1314,totsp1314a17,nums1314,mhi1314,mhi1314a17,pir1314,mean_sfno100517,tot_sfno100517,num_sfno100517,mean_sfoo100517,tot_sfoo100517,num_sfoo100517,prc_sfno100517,pop13,pop14,ptwhnl13,ptwhnl14,ptblknl13,ptblknl14,ptasnl13,ptasnl14,ptothnl13,ptothnl14,ptlat13,ptlat14,meansp1517,meansp1517a17,minsp1517,minsp1517a17,maxsp1517,maxsp1517a17,mediansp1517,mediansp1517a17,stddevsp1517,stddevsp1517a17,totsp1517,totsp1517a17,nums1517,mhi16,mhi16a17,pir1517,mgr_phi16,mmoc_phi16,mean_sfno011818,tot_sfno011818,num_sfno011818,mean_sfoo011818,tot_sfoo011818,num_sfoo011818,prc_sfno011818,pop16,ptwhnl16,ptblknl16,ptnanl16,ptasnl16,ptpanl16,ptothnl16,pt2mnl16,ptlat16
0,370630001011,116903.85,120404.596818,30000.0,30898.365662,380000.0,391379.298380,125000.0,128743.190256,54906.52,56550.724405,6079000.0,6.261039e+06,52.0,42604.0,43879.799021,2.93,113320.41,2493049.0,22.0,131811.19,44156750.0,335.0,6.16,1261,1261,43.3,43.3,30.1,30.1,1.4,1.4,1.9,1.9,23.3,23.3,172019.48,175541.306288,30000.0,30614.202465,451000.0,460233.510391,166000.0,169398.586973,75865.55,77418.776927,13245500.0,1.351668e+07,77.0,36809.0,37562.605951,4.51,37.8,17.9,114821.52,2411252.0,21.0,131321.37,44255303.0,337.0,5.87,1165,57.43,27.30,0.00,0.00,0.0,0.0,7.30,7.98
1,370630001012,90948.72,93672.226900,18000.0,18539.019397,185000.0,190539.921580,88500.0,91150.178702,46406.21,47795.868185,3547000.0,3.653217e+06,39.0,37666.0,38793.928034,2.35,94385.38,2265249.0,24.0,111086.86,46989742.0,423.0,5.37,1891,1891,15.5,15.5,65.6,65.6,1.0,1.0,2.6,2.6,15.2,15.2,131871.95,134571.819225,36000.0,36737.042958,435000.0,443905.935743,123750.0,126283.585168,64231.34,65546.374912,10813500.0,1.103489e+07,82.0,48458.0,49450.100768,2.55,22.2,19.2,94182.83,2166205.0,23.0,111159.80,47242914.0,425.0,5.13,1861,12.68,62.55,0.00,0.00,0.0,0.0,0.59,24.18
2,370630001021,129565.79,133445.705222,31000.0,31928.311184,251000.0,258516.326035,139500.0,143677.400326,47521.71,48944.772415,4923500.0,5.070937e+06,38.0,33448.5,34450.132794,4.17,126377.45,1390152.0,11.0,145806.21,48261856.0,331.0,3.22,2585,2585,25.0,25.0,34.7,34.7,0.8,0.8,2.4,2.4,37.0,37.0,176412.70,180024.470507,41000.0,41839.410036,435000.0,443905.935743,170000.0,173480.480635,69456.50,70878.511784,11114000.0,1.134154e+07,63.0,35387.0,36111.492754,4.80,41.7,14.1,126377.45,1390152.0,11.0,145789.92,48256465.0,331.0,3.22,2918,33.38,36.60,0.00,0.51,0.0,0.0,0.00,29.51
3,370630001022,144633.44,148964.563867,40000.0,41197.820882,600000.0,617967.313231,129000.0,132862.972345,76340.84,78626.906308,8967273.0,9.235803e+06,62.0,39839.5,41032.514626,3.24,127027.20,3175680.0,25.0,145069.79,57302566.0,395.0,5.95,1950,1950,45.1,45.1,33.3,33.3,2.3,2.3,2.1,2.1,17.2,17.2,174965.28,178547.416876,35000.0,35716.569543,451000.0,460233.510391,172500.0,176031.664174,74082.57,75599.293237,12597500.0,1.285541e+07,72.0,51956.0,53019.716776,3.32,21.0,16.5,124799.79,2995195.0,24.0,144828.32,57352016.0,396.0,5.71,1588,53.46,20.78,0.00,2.39,0.0,0.0,5.10,18.26
4,370630002001,151568.18,156106.968276,40000.0,41197.820882,355000.0,365630.660328,130500.0,134407.890628,87785.76,90414.550412,3334500.0,3.434353e+06,22.0,28024.0,28863.193310,4.66,147285.20,1472852.0,10.0,196170.88,33349049.0,170.0,5.56,861,861,34.0,34.0,49.1,49.1,0.2,0.2,3.1,3.1,13.5,13.5,230428.57,235146.229857,67500.0,68881.955546,451000.0,460233.510391,225750.0,230371.873550,92407.38,94299.274686,6452000.0,6.584094e+06,28.0,28375.0,28955.933165,7.96,35.7,30.6,147285.20,1472852.0,10.0,194729.51,33493476.0,172.0,5.49,1219,27.40,31.50,1.07,0.00,0.0,0.0,0.90,39.13

In [15]:
f = open('models_bgs1318.py','w')

f.write('class bgs1318(models.Model):\n')

for col in bgs1318.columns:
    var = str(bgs1318[col].max())
    digits = str(len(var)+1)
    decimal = str(len(var.split('.')))
    isnull = str(bgs1318[col].isnull().values.any())
    if col == 'id':
        f.write('   '+col+' = models.TextField(12,primary_key=True)\n')
    else:
        f.write('   '+col+' = models.DecimalField(max_digits='+digits+',decimal_places='+decimal+',null='+isnull+')\n')

f.close()

In [16]:
f = open('serializers_bgs1318.py','w')

f.write('class bgs1318Serializer (serializers.ModelSerializer):\n')
f.write('    class Meta:\n')
f.write('        model = bgs1318\n')
f.write('        fields = (')

for col in bgs1318.columns:
    if col == bgs1318.columns[len(bgs1318.columns)-1]:
        f.write("'"+col+"'")
    else:
        f.write("'"+col+"',")
    
f.write(')\n')
f.close()

In [17]:
f = open('durham_bgs1318.sql','w')

f.write('\copy datahub_be_app_bgs1318(')

for col in bgs1318.columns:
    if col == bgs1318.columns[len(bgs1318.columns)-1]:
        f.write(col)
    else:
        f.write(col+",")
    
f.write(") FROM 'durham_bgs1318.csv' WITH DELIMITER ',' CSV HEADER;\n")
f.write('\n')
f.write('COMMIT;')
f.close()

In [18]:
mapdesc = pd.read_csv('bgs_vuemapmenu.csv',sep='|')
mapdesc.head()

        var                                                       desc
0    meansp                   Mean Sale Price, for Single Family Homes
1     minsp                Minimum Sale Price, for Single Family Homes
2     maxsp                Maximum Sale Price, for Single Family Homes
3  mediansp                 Median Sale Price, for Single Family Homes
4  stddevsp  Standard Deviation of Sale Price, for Single Family Homes

In [19]:
columns = np.array(bgs1318.columns)
#column types a17, 1517, 100517, 16, 011818, 1314, 13, 14
f = open('bgs1318_vuemapmenu.js','w')
for column in columns:
    colyear = column[len(column)-2:]
    if colyear == 'id':
        print('1_'+column)
    elif colyear == '17':
        if column[len(column)-3:] == 'a17':
            colyr = column[len(column)-5:len(column)-3]
            if colyr == '16':
                colvar = column[:len(column)-5]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("        {label: '"+var.desc.to_string(index=False)+", in 20"+colyr+
                        ", Adjusted to 2017 Dollars"+
                        "', value: '"+column+"', type: 'bgs'},\n")
            elif colyr == '14':
                colvar = column[:len(column)-7]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("        {label: '"+var.desc.to_string(index=False)+", between 2013 and 2014"+
                        ", Adjusted to 2017 Dollars"+
                        "', value: '"+column+"', type: 'bgs'},\n")
            elif colyr == '17':
                colvar = column[:len(column)-7]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("        {label: '"+var.desc.to_string(index=False)+", between 2015 and 2017"+
                        ", Adjusted to 2017 Dollars"+
                        "', value: '"+column+"', type: 'bgs'},\n")
            else:
                print('2_'+colcolumn)
        else:
            if column[len(column)-4:] == '1517':
                colvar = column[:len(column)-4]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("        {label: '"+var.desc.to_string(index=False)+", between 2015 and 2017"+
                        "', value: '"+column+"', type: 'bgs'},\n")
            elif column[len(column)-4:] == '0517':
                colvar = column[:len(column)-6]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("        {label: '"+var.desc.to_string(index=False)+", on Oct. 5th 2017"+
                        "', value: '"+column+"', type: 'bgs'},\n")
            else:
                print('3_'+column)

    elif colyear == '14':
        if column[len(column)-4:] == '1314':
            colvar = column[:len(column)-4]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("        {label: '"+var.desc.to_string(index=False)+", between 2013 and 2014"+
                    "', value: '"+column+"', type: 'bgs'},\n")
        else:
            colvar = column[:len(column)-2]
            colyr = column[len(column)-2:]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("        {label: '"+var.desc.to_string(index=False)+", in 20"+colyr+
                    "', value: '"+column+"', type: 'bgs'},\n")   
    elif colyear == '13':
        colvar = column[:len(column)-2]
        colyr = column[len(column)-2:]
        var = mapdesc.loc[mapdesc['var'] == colvar]
        f.write("        {label: '"+var.desc.to_string(index=False)+", in 20"+colyr+
                "', value: '"+column+"', type: 'bgs'},\n")
    elif colyear == '16':
        colvar = column[:len(column)-2]
        colyr = column[len(column)-2:]
        var = mapdesc.loc[mapdesc['var'] == colvar]
        if column == columns[len(columns)-1]:
            f.write("        {label: '"+var.desc.to_string(index=False)+", in 20"+colyr+
                    "', value: '"+column+"', type: 'bgs'}\n")            
        else:
            f.write("        {label: '"+var.desc.to_string(index=False)+", in 20"+colyr+
                    "', value: '"+column+"', type: 'bgs'},\n")
    elif colyear == '18':
        colvar = column[:len(column)-6]
        var = mapdesc.loc[mapdesc['var'] == colvar]
        f.write("        {label: '"+var.desc.to_string(index=False)+", on Jan. 18th 2018"+
                "', value: '"+column+"', type: 'bgs'},\n")
    else:
        print('4_'+column)
            
f.write('\n')

for column in columns:
    colyear = column[len(column)-2:]
    if colyear == 'id':
        print('1_'+column)
    elif colyear == '17':
        if column[len(column)-3:] == 'a17':
            colyr = column[len(column)-5:len(column)-3]
            if colyr == '16':
                colvar = column[:len(column)-5]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
                f.write("        desc = '"+var.desc.to_string(index=False)+
                        ", Adjusted to 2017 Dollars: ' + numberWithCommas(this.currentDurhambg."+column+")\n")
                f.write("      }\n")                
            elif colyr == '14':
                colvar = column[:len(column)-7]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")                    
                f.write("        desc = '"+var.desc.to_string(index=False)+
                        ", Adjusted to 2017 Dollars: ' + numberWithCommas(this.currentDurhambg."+column+")\n")
                f.write("      }\n")
            elif colyr == '17':
                colvar = column[:len(column)-7]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
                f.write("        desc = '"+var.desc.to_string(index=False)+
                        ", Adjusted to 2017 Dollars: ' + numberWithCommas(this.currentDurhambg."+column+")\n")
                f.write("      }\n")
            else:
                print('2_'+colcolumn)
        else:
            if column[len(column)-4:] == '1517':
                colvar = column[:len(column)-4]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
                f.write("        desc = '"+var.desc.to_string(index=False)+
                        ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
                f.write("      }\n")                
            elif column[len(column)-4:] == '0517':
                colvar = column[:len(column)-6]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
                f.write("        desc = '"+var.desc.to_string(index=False)+
                        ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
                f.write("      }\n")                
            else:
                print('3_'+column)
    elif colyear == '14':
        if column[len(column)-4:] == '1314':
            colvar = column[:len(column)-4] 
            var = mapdesc.loc[mapdesc['var'] == colvar]
            if column == columns[1]:
                f.write("      if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")                    
            else:
                f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")

            f.write("        desc = '"+var.desc.to_string(index=False)+
                    ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
            f.write("      }\n")
        else:
            colvar = column[:len(column)-2]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
            f.write("        desc = '"+var.desc.to_string(index=False)+
                    ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
            f.write("      }\n")                
    elif colyear == '13':
        colvar = column[:len(column)-2]
        var = mapdesc.loc[mapdesc['var'] == colvar]
        f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
        f.write("        desc = '"+var.desc.to_string(index=False)+
                ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
        f.write("      }\n")        
    elif colyear == '16':
        colvar = column[:len(column)-2]
        var = mapdesc.loc[mapdesc['var'] == colvar]
        f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
        f.write("        desc = '"+var.desc.to_string(index=False)+
                ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
        f.write("      }\n")                
    elif colyear == '18':
        colvar = column[:len(column)-6]
        var = mapdesc.loc[mapdesc['var'] == colvar]
        f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'bgs') {\n")
        f.write("        desc = '"+var.desc.to_string(index=False)+
                ": ' + numberWithCommas(this.currentDurhambg."+column+")\n")
        f.write("      }\n")                
    else:
        print('4_'+column)

f.close()

1_id
1_id