In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 100

In [2]:
fc70 = pd.read_csv('LTDB/durham_ltdb_std70_fullcount.csv')
s70 = pd.read_csv('LTDB/durham_ltdb_std70_sample.csv')
std70 = pd.merge(fc70,s70,on='trtid10')
std70columns = ['trtid10', 'pop70', 'white70','pwhite70','black70','pblack70','asian70','pasian70','haw70',
                'phaw70','hu70','vac70','pvac70','ohu70','pohu70','own70','pown70','rent70','prent70',
                'mhmval70a17','mhmval70','mrent70','mrent70a17','hinc70','hinc70a17','ag25up70','hs70','phs70',
                'col70','pcol70','clf70','unemp70','punemp70']
std70 = std70[std70columns]
std70.rename(columns={'white70':'nhwht70','pwhite70':'pnhwht70','black70':'nhblk70','pblack70':'pnhblk70'},
             inplace=True)
std70.head()

,trtid10,pop70,nhwht70,pnhwht70,nhblk70,pnhblk70,asian70,pasian70,haw70,phaw70,hu70,vac70,pvac70,ohu70,pohu70,own70,pown70,rent70,prent70,mhmval70a17,mhmval70,mrent70,mrent70a17,hinc70,hinc70a17,ag25up70,hs70,phs70,col70,pcol70,clf70,unemp70,punemp70
0,37063000101,3406.126516,3224.728180,94.674351,169.503558,4.976432,11.437042,0.335779,0.0,0.0,1220.306213,26.553145,2.175941,1193.753122,97.824063,669.871448,54.893718,523.881674,42.930346,85885.381070,13708.03830,101.079601,633.297037,8885.250217,55669.023101,1945.071455,1474.262356,75.794766,247.998607,12.750103,1709.853534,52.162853,3.050721
1,37063000102,4038.609379,3823.766645,94.680279,200.736893,4.970446,13.563304,0.335841,0.0,0.0,1446.933228,31.466866,2.174728,1415.466431,97.825277,794.267090,54.893141,621.199341,42.932136,85883.214269,13707.69246,101.083337,633.320446,8885.134843,55668.300245,2306.304199,1748.038574,75.793929,294.052429,12.749941,2027.442627,61.848667,3.050575
2,37063000200,2710.963965,2282.969654,84.212468,415.994476,15.344891,8.999881,0.331981,0.0,0.0,1099.985352,70.999054,6.454545,1028.986328,93.545457,517.993103,47.090909,510.993195,46.454545,89239.732205,14243.42131,80.540548,504.613096,6974.137687,43695.272786,1630.978271,1097.985352,67.320661,322.995697,19.803801,1319.982422,46.999374,3.560606
3,37063000301,2981.000049,1600.000026,53.673264,1370.000000,45.957732,4.000000,0.134183,0.0,0.0,1179.000000,61.000000,5.173876,1118.000000,94.826124,303.000000,25.699746,815.000000,69.126378,67579.667028,10786.29043,65.816330,412.361012,5559.632979,34832.934265,1598.000000,1251.000000,78.285357,169.000000,10.575720,1392.000000,28.000000,2.011494
4,37063000302,3695.000014,3550.000014,96.075778,120.000000,3.247632,16.000000,0.433018,0.0,0.0,1580.000000,68.000000,4.303797,1512.000000,95.696203,677.000000,42.848101,835.000000,52.848101,112466.316481,17950.58198,95.833336,600.427460,6618.556396,41467.438722,2236.000000,1151.000000,51.475850,720.000000,32.200358,1731.000000,18.000000,1.039861

In [3]:
fc80 = pd.read_csv('LTDB/durham_ltdb_std80_fullcount.csv')
s80 = pd.read_csv('LTDB/durham_ltdb_std80_sample.csv')
std80 = pd.merge(fc80,s80,on='trtid10')
std80columns = ['trtid10', 'pop80', 'nhwht80','pnhwht80','nhblk80','pnhblk80','ntv80','pntv80',
                'asian80','pasian80','hisp80','phisp80','haw80','phaw80','hu80','vac80','pvac80',
                'ohu80','pohu80','own80','pown80','rent80','prent80', 'mhmval80','mhmval80a17',
                'mrent80','mrent80a17','hinc80','hinc80a17','hincw80','hincw80a17','hincb80','hincb80a17',
                'hinch80','hinch80a17','hinca80','hinca80a17','ag25up80','hs80','phs80','col80','pcol80',
                'clf80','unemp80','punemp80']
std80 = std80[std80columns]
std80.head()

,trtid10,pop80,nhwht80,pnhwht80,nhblk80,pnhblk80,ntv80,pntv80,asian80,pasian80,hisp80,phisp80,haw80,phaw80,hu80,vac80,pvac80,ohu80,pohu80,own80,pown80,rent80,prent80,mhmval80,mhmval80a17,mrent80,mrent80a17,hinc80,hinc80a17,hincw80,hincw80a17,hincb80,hincb80a17,hinch80,hinch80a17,hinca80,hinca80a17,ag25up80,hs80,phs80,col80,pcol80,clf80,unemp80,punemp80
0,37063001802,4032.269137,1993.220303,49.431728,1997.042318,49.526513,1.000131,0.024803,1.003177,0.024879,39.002260,0.967253,0.000000,0.000000,1390.096690,67.005601,4.820212,1323.091089,95.179788,715.000000,51.435271,608.000000,43.737965,31817.99973,92251.220316,136.999999,397.209667,14028.579990,40673.632358,20923.76276,60665.116116,11428.635590,33135.507847,NaN,NaN,NaN,NaN,2209.167503,1904.091187,86.190440,98.047919,4.438229,1993.148604,109.005535,5.469012
1,37063002007,2592.596845,2123.167423,81.893466,421.307840,16.250419,3.208002,0.123737,21.387990,0.824964,18.713749,0.721815,0.000000,0.000000,924.437973,34.218188,3.701513,890.219788,96.298488,829.800550,89.762707,60.419200,6.535776,72708.88001,210807.812108,193.999635,562.471029,31549.847210,91473.754812,34635.04510,100418.794497,24111.123550,69906.360851,NaN,NaN,NaN,NaN,1663.883312,429.338081,25.803377,914.279070,54.948509,1241.501707,17.643931,1.421177
2,37063000301,2409.000039,1142.000000,47.405562,1226.000000,50.892486,2.000000,0.083022,19.000000,0.788709,14.000000,0.581154,2.000000,0.083022,1144.000000,41.000000,3.583916,1103.000000,96.416084,289.000000,25.262238,814.000000,71.153846,22195.00036,64350.866978,127.000002,368.216270,8404.000138,24366.059301,13833.33260,40107.543661,9189.189371,26642.590370,NaN,NaN,NaN,NaN,1414.000000,989.000000,69.943423,239.000000,16.902405,1254.000000,65.000000,5.183413
3,37063002100,2716.001445,2009.001191,73.969077,675.000238,24.852720,4.000001,0.147275,4.000008,0.147276,24.000008,0.883652,1.000000,0.036819,1006.000470,62.000010,6.163020,944.000459,93.836980,668.000425,66.401602,276.000035,27.435378,33889.01127,98255.788280,114.000016,330.524881,15370.004490,44562.878952,20044.64701,58116.260078,12989.134090,37659.924597,NaN,NaN,NaN,NaN,1689.000843,1305.000465,77.264643,154.000202,9.117829,1265.000790,31.000005,2.450592
4,37063001502,3783.433794,2943.633850,77.803234,707.515991,18.700367,7.600148,0.200880,67.316696,1.779249,46.411952,1.226715,0.320955,0.008483,1296.201904,80.836456,6.236409,1215.365417,93.763588,143.187304,11.046682,1072.178101,82.716905,23957.54569,69461.086317,188.869991,547.598445,8935.736363,25907.743758,13215.93170,38317.488129,8879.567092,25744.889907,NaN,NaN,NaN,NaN,1355.605530,745.534882,54.996447,424.956986,31.348130,1631.882324,64.138832,3.930359

In [4]:
fc90 = pd.read_csv('LTDB/durham_ltdb_std90_fullcount.csv')
s90 = pd.read_csv('LTDB/durham_ltdb_std90_sample.csv')
std90 = pd.merge(fc90,s90,on='trtid10')
std90columns = ['trtid10', 'pop90', 'nhwht90','pnhwht90','nhblk90','pnhblk90','ntv90','pntv90',
                'asian90','pasian90','hisp90','phisp90','haw90','phaw90','hu90','vac90','pvac90',
                'ohu90','pohu90','own90','pown90','rent90','prent90', 'mhmval90','mhmval90a17',
                'mrent90','mrent90a17','hinc90','hinc90a17','hincw90','hincw90a17','hincb90','hincb90a17',
                'hinch90','hinch90a17','hinca90','hinca90a17','ag25up90','hs90','phs90','col90','pcol90',
                'clf90','unemp90','punemp90']
std90 = std90[std90columns]
std90.head()

,trtid10,pop90,nhwht90,pnhwht90,nhblk90,pnhblk90,ntv90,pntv90,asian90,pasian90,hisp90,phisp90,haw90,phaw90,hu90,vac90,pvac90,ohu90,pohu90,own90,pown90,rent90,prent90,mhmval90,mhmval90a17,mrent90,mrent90a17,hinc90,hinc90a17,hincw90,hincw90a17,hincb90,hincb90a17,hinch90,hinch90a17,hinca90,hinca90a17,ag25up90,hs90,phs90,col90,pcol90,clf90,unemp90,punemp90
0,37063000101,2881.037191,1485.020388,51.544645,1349.016177,46.823976,8.000066,0.277680,14.000305,0.485947,25.000266,0.867752,0.0,0.000000,1231.018834,62.001448,5.036596,1169.017386,94.963404,695.007079,56.457875,474.010307,38.505528,57800.15228,107310.343704,335.000041,621.952851,24375.00533,45254.036479,24257.22838,45035.374685,25194.08931,46774.727687,17500.00000,32490.070367,20000.000000,37131.508991,1918.025524,1143.011356,59.593125,304.008925,15.850098,1393.021611,71.000823,5.096893
1,37063000102,3637.000076,2845.000060,78.223811,692.000000,19.026670,11.000000,0.302447,32.000000,0.879846,52.000000,1.429750,0.0,0.000000,1957.000000,90.000000,4.598876,1867.000000,95.401124,786.000000,40.163516,1081.000000,55.237609,66500.00139,123462.269977,359.000008,666.510600,27674.00058,51378.870068,27512.75568,51079.506746,32987.80557,61244.349956,20000.00042,37131.509771,42500.000890,78904.458259,2714.000057,1270.000000,46.794398,687.000000,25.313190,2190.000046,60.000000,2.739726
2,37063000200,2801.962755,1535.979583,54.817987,1217.983765,43.468949,4.999934,0.178444,22.999695,0.820842,19.999735,0.713776,0.0,0.000000,1417.981201,108.998550,7.686883,1308.982544,92.313110,532.992920,37.588151,775.989685,54.724963,72799.99936,135158.691540,337.000000,625.665927,24744.00006,45939.103036,30413.53280,56465.018331,20035.97064,37198.291199,17499.99907,32490.068641,19999.999820,37131.508657,1922.974439,854.988647,44.461779,671.991089,34.945399,1627.978360,61.999176,3.808354
3,37063000301,2337.000038,910.000015,38.938810,1364.000000,58.365425,7.000000,0.299529,22.000000,0.941378,31.000000,1.326487,0.0,0.000000,1245.000000,94.000000,7.550201,1151.000000,92.449799,248.000000,19.919679,903.000000,72.530120,54000.00089,100255.075929,269.000004,499.418804,16049.00026,29796.179873,20616.88345,38276.799660,12609.64933,23410.765374,20000.00033,37131.509604,12500.000200,23207.193491,1504.000025,830.000000,55.186169,377.000000,25.066489,1321.000022,87.000000,6.585920
4,37063000302,3352.000013,2420.000009,72.195704,827.000000,24.671838,2.000000,0.059666,32.000000,0.954654,68.000000,2.028640,1.0,0.029833,1721.000000,85.000000,4.938989,1636.000000,95.061011,652.000000,37.884951,984.000000,57.176060,92800.00036,172290.202388,327.000001,607.100174,26733.00010,49631.831679,30731.70744,57055.733556,19696.96977,36568.910506,15000.00006,27848.631855,7500.000029,13924.315926,2412.000009,805.000000,33.374793,1173.000000,48.631841,1938.000007,65.000000,3.353973

In [5]:
fc00 = pd.read_csv('LTDB/durham_ltdb_std00_fullcount.csv')
s9800 = pd.read_csv('LTDB/durham_propsale_ltdb_std9800_sample.csv')
std9800 = pd.merge(fc00,s9800,on='trtid10')
std9800columns = ['trtid10', 'pop00', 'nhwht00','pnhwht00','nhblk00','pnhblk00','ntv00','pntv00',
                  'asian00','pasian00','hisp00','phisp00','haw00','phaw00','hu00','vac00','pvac00',
                  'ohu00','pohu00','own00','pown00','rent00','prent00', 'mhmval00','mhmval00a17',
                  'mrent00','mrent00a17','hinc00','hinc00a17','hincw00','hincw00a17','hincb00','hincb00a17',
                  'hinch00','hinch00a17','hinca00','hinca00a17','meansp9800','minsp9800','maxsp9800',
                  'mediansp9800','stddevsp9800','totsp9800','nums9800','meansp9800a17','minsp9800a17',
                  'maxsp9800a17','mediansp9800a17','totsp9800a17','pir9800','ag25up00',
                  'hs00','phs00','col00','pcol00','clf00','unemp00','punemp00']
std9800 = std9800[std9800columns]
std9800.head()

,trtid10,pop00,nhwht00,pnhwht00,nhblk00,pnhblk00,ntv00,pntv00,asian00,pasian00,hisp00,phisp00,haw00,phaw00,hu00,vac00,pvac00,ohu00,pohu00,own00,pown00,rent00,prent00,mhmval00,mhmval00a17,mrent00,mrent00a17,hinc00,hinc00a17,hincw00,hincw00a17,hincb00,hincb00a17,hinch00,hinch00a17,hinca00,hinca00a17,meansp9800,minsp9800,maxsp9800,mediansp9800,stddevsp9800,totsp9800,nums9800,meansp9800a17,minsp9800a17,maxsp9800a17,mediansp9800a17,totsp9800a17,pir9800,ag25up00,hs00,phs00,col00,pcol00,clf00,unemp00,punemp00
0,37063000101,3151.041386,1056.013813,33.513169,1704.020773,54.078019,28.000159,0.888600,52.000465,1.650263,303.005990,9.616059,0.0,0.0,1281.019020,69.001846,5.386481,1212.017173,94.613519,749.006800,58.469608,463.010373,36.143911,82700.30143,117450.255839,488.000291,693.053811,33265.02059,47242.695749,36591.16342,51966.455150,26790.03759,38046.980658,41730.64312,59265.499956,38002.94476,53971.454850,80225.72,19000.0,326000.0,81500.0,32983.50,15082435.0,188.0,113935.876605,26983.636364,462982.392344,115745.598086,2.141994e+07,2.450021,1969.028516,1114.011847,56.576725,451.010108,22.905210,1533.022207,89.001514,5.805625
1,37063000102,4462.000000,2107.000000,47.220977,1417.000000,31.757060,26.000000,0.582698,55.000000,1.232631,852.000000,19.094576,0.0,0.0,2000.000000,130.000000,6.500000,1870.000000,93.500000,774.000000,38.700000,1096.000000,54.800000,91000.00000,129237.416268,505.000000,717.196651,33942.00000,48204.136077,33162.00000,47096.386794,31506.00000,44744.549856,53214.00000,75574.064498,69375.00000,98525.777512,93169.35,22000.0,270000.0,92750.0,26828.02,17329500.0,186.0,132318.308455,31244.210526,383451.674641,131722.751196,2.461121e+07,2.732603,3066.000000,1630.000000,53.163731,705.000000,22.994129,2369.000000,89.000000,3.756859
2,37063000200,3115.958583,1039.986206,33.376124,1563.979248,50.192556,11.999841,0.385109,34.999535,1.123235,450.994019,14.473685,0.0,0.0,1431.980957,138.998154,9.706704,1292.982788,90.293295,511.993195,35.754190,780.989624,54.539107,115900.00000,164600.181818,500.999997,711.515881,34706.00004,49289.162353,48610.99862,69036.921581,29703.99944,42185.364181,30417.00050,43197.962146,156249.99940,221904.903454,101019.72,7500.0,240000.0,101250.0,43487.30,13132564.0,130.0,143467.336318,10651.435407,340845.933014,143794.377990,1.865075e+07,2.917363,2146.971436,891.988159,41.546345,760.989868,35.444806,1671.977783,113.998482,6.818182
3,37063000301,2432.000000,669.000000,27.508224,1299.000000,53.412829,9.000000,0.370066,41.000000,1.685855,399.000000,16.406250,0.0,0.0,1205.000000,119.000000,9.875519,1086.000000,90.124481,258.000000,21.410788,828.000000,68.713693,80800.00000,114751.464115,433.000000,614.942871,29256.00000,41549.119234,31750.00000,45091.076555,25481.00000,36187.896746,32083.00000,45564.000287,NaN,NaN,83019.04,10000.0,410500.0,75000.0,55700.86,8467942.0,102.0,117902.925611,14201.913876,582988.564593,106514.354067,1.202610e+07,2.563577,1592.000000,926.000000,58.165829,304.000000,19.095477,1341.000000,49.000000,3.653990
4,37063000302,3449.000000,2067.000000,59.930415,878.000000,25.456654,13.000000,0.376921,86.000000,2.493476,387.000000,11.220644,0.0,0.0,1707.000000,78.000000,4.569420,1629.000000,95.430580,659.000000,38.605741,970.000000,56.824839,150000.00000,213028.708134,493.000000,700.154354,35467.00000,50369.927943,41417.00000,58820.066699,24948.00000,35430.934737,23542.00000,33434.145646,40000.00000,56807.655502,153071.07,2000.0,525000.0,137500.0,79535.50,24338300.0,159.0,217390.215299,2840.382775,745600.478469,195276.315789,3.456504e+07,3.876843,2320.000000,568.000000,24.482759,1239.000000,53.405172,2178.000000,92.000000,4.224059

In [6]:
fc10 = pd.read_csv('LTDB/durham_ltdb_std10_fullcount.csv')
s0712 = pd.read_csv('LTDB/durham_propsale_ltdb_std0712_sample.csv')
std0712 = pd.merge(fc10,s0712,on='trtid10')
std0712columns = ['trtid10', 'pop10', 'nhwht10','pnhwht10','nhblk10','pnhblk10','ntv10','pntv10',
                  'asian10','pasian10','hisp10','phisp10','haw10','phaw10','hu10','vac10','pvac10',
                  'ohu10','pohu10','own10','pown10','rent10','prent10', 'mhmval12','mhmval12a17',
                  'mrent12','mrent12a17','hinc12','hinc12a17','hincw12','hincw12a17','hincb12','hincb12a17',
                  'hinch12','hinch12a17','hinca12','hinca12a17','meansp0709','minsp0709','maxsp0709',
                  'mediansp0709','stddevsp0709','totsp0709','nums0709','meansp0709a17','minsp0709a17',
                  'maxsp0709a17','mediansp0709a17','totsp0709a17','pir0712','ag25up12',
                  'hs12','phs12','col12','pcol12','clf12','unemp12','punemp12']
std0712 = std0712[std0712columns]

std0712['pccol0012'] = std0712.pcol12.astype('float64').subtract(std9800.pcol00.astype('float64'),fill_value='NaN')

std0712['pcnhwht0010'] = std0712.cpnhwht10.astype('float64').subtract(std9800.pnhwht00.astype('float64'),fill_value='NaN')
std0712['pcnhblk0010'] = std0712.cpnhblk10.astype('float64').subtract(std9800.pnhblk00.astype('float64'),fill_value='NaN')
std0712['pcasian0010'] = std0712.cpasian10.astype('float64').subtract(std9800.pasian00.astype('float64'),fill_value='NaN')
std0712['pchisp0010'] = std0712.cphisp10.astype('float64').subtract(std9800.phisp00.astype('float64'),fill_value='NaN')

std0712['cmhmval0012a17'] = std0712.mhmval12a17.astype('float64').subtract(std9800.mhmval00a17.astype('float64'),fill_value='NaN')
std0712['pcmhmval0012a17'] = 100.0*(std0712.cmhmval0012a17.astype('float64')/std9800.mhmval00a17.astype('float64'))
std0712['cmrent0012a17'] = std0712.mrent12a17.astype('float64').subtract(std9800.mrent00a17.astype('float64'),fill_value='NaN')
std0712['pcmrent0012a17'] = 100.0*(std0712.cmrent0012a17.astype('float64')/std9800.mrent00a17.astype('float64'))

std0712['chinc0012a17'] = std0712.hinc12a17.astype('float64').subtract(std9800.hinc00a17.astype('float64'),fill_value='NaN')
std0712['chincw0012a17'] = std0712.hincw12a17.astype('float64').subtract(std9800.hincw00a17.astype('float64'),fill_value='NaN')
std0712['chincb0012a17'] = std0712.hincb12a17.astype('float64').subtract(std9800.hincb00a17.astype('float64'),fill_value='NaN')
std0712['chinca0012a17'] = std0712.hinca12a17.astype('float64').subtract(std9800.hinca00a17.astype('float64'),fill_value='NaN')
std0712['chinch0012a17'] = std0712.hinch12a17.astype('float64').subtract(std9800.hinch00a17.astype('float64'),fill_value='NaN')
std0712['cmeansp0009a17'] = std0712.meansp0709a17.astype('float64').subtract(std9800.meansp9800a17.astype('float64'),fill_value='NaN')
std0712['cmediansp0009a17'] = std0712.mediansp0709a17.astype('float64').subtract(std9800.mediansp9800a17.astype('float64'),fill_value='NaN')

std0712['pchinc0012a17'] = 100.0*(std0712.chinc0012a17.astype('float64')/std9800.hinc00a17.astype('float64'))
std0712['pchincw0012a17'] = 100.0*(std0712.chincw0012a17.astype('float64')/std9800.hincw00a17.astype('float64'))
std0712['pchincb0012a17'] = 100.0*(std0712.chincb0012a17.astype('float64')/std9800.hincb00a17.astype('float64'))
std0712['pchinca0012a17'] = 100.0*(std0712.chinca0012a17.astype('float64')/std9800.hinca00a17.astype('float64'))
std0712['pchinch0012a17'] = 100.0*(std0712.chinch0012a17.astype('float64')/std9800.hinch00a17.astype('float64'))
std0712['pcmeansp0009a17'] = 100.0*(std0712.cmeansp0009a17.astype('float64')/std9800.meansp9800a17.astype('float64'))
std0712['pcmediansp0009a17'] = 100.0*(std0712.cmediansp0009a17.astype('float64')/std9800.mediansp9800a17.astype('float64'))

std0712.head()

AttributeError: 'DataFrame' object has no attribute 'cpnhwht10'

In [ ]:
stdall = pd.merge(std70,std80,on='trtid10')
stdall = stdall.merge(std90,on='trtid10')
stdall = stdall.merge(std9800,on='trtid10')
stdall = stdall.merge(std0712,on='trtid10')

In [ ]:
stdall.head()

In [ ]:
acspop16tr = pd.read_csv('acs/acs_population_2016_tr.csv')
acspop16trcolumns = ['id','pop16','nhwht16','pnhwht16','nhblk16','pnhblk16','ntv16','pntv16','asian16',
                     'pasian16','haw16','phaw16','oth16','poth16','twomr16','ptwomr16','hisp16','phisp16']
acspop16tr = acspop16tr[acspop16trcolumns]
acspop16tr.head()

In [ ]:
acspop16tr.replace(to_replace='-',value=np.nan,inplace=True)

acspop16tr['pcnhwht0016'] = acspop16tr.pnhwht16.astype('float64').subtract(std9800.pnhwht00.astype('float64'),fill_value='NaN')
acspop16tr['pcnhblk0016'] = acspop16tr.pnhblk16.astype('float64').subtract(std9800.pnhblk00.astype('float64'),fill_value='NaN')
acspop16tr['pcasian0016'] = acspop16tr.pasian16.astype('float64').subtract(std9800.pasian00.astype('float64'),fill_value='NaN')
acspop16tr['pchisp0016'] = acspop16tr.phisp16.astype('float64').subtract(std9800.phisp00.astype('float64'),fill_value='NaN')

acspop16tr['pcnhwht1016'] = acspop16tr.pnhwht16.astype('float64').subtract(std0712.pnhwht10.astype('float64'),fill_value='NaN')
acspop16tr['pcnhblk1016'] = acspop16tr.pnhblk16.astype('float64').subtract(std0712.pnhblk10.astype('float64'),fill_value='NaN')
acspop16tr['pcasian1016'] = acspop16tr.pasian16.astype('float64').subtract(std0712.pasian10.astype('float64'),fill_value='NaN')
acspop16tr['pchisp1016'] = acspop16tr.phisp16.astype('float64').subtract(std0712.phisp10.astype('float64'),fill_value='NaN')

acspop16tr.head()

In [ ]:
acshousing16tr = pd.read_csv('acs/acs_housing_2016_tr.csv')
acshousing16trcolumns = ['id','hu16','ohu16','pohu16','vac16','pvac16','own16','pown16',
                         'rent16','prent16','mhmval16','mhmval16a17','mrent16','mrent16a17']
acshousing16tr[acshousing16trcolumns]
acshousing16tr.head()

In [ ]:
acshousing16tr.replace(to_replace='-',value=np.nan,inplace=True)

acshousing16tr['cmhmval0016a17'] = acshousing16tr.mhmval16a17.astype('float64').subtract(std9800.mhmval00a17.astype('float64'),fill_value='NaN')
acshousing16tr['pcmhmval0016a17'] = 100.0*(acshousing16tr.cmhmval0016a17.astype('float64')/std9800.mhmval00a17.astype('float64'))
acshousing16tr['cmrent0016a17'] = acshousing16tr.mrent16a17.astype('float64').subtract(std9800.mrent00a17.astype('float64'),fill_value='NaN')
acshousing16tr['pcmrent0016a17'] = 100.0*(acshousing16tr.cmrent0016a17.astype('float64')/std9800.mrent00a17.astype('float64'))

acshousing16tr['cmhmval1216a17'] = acshousing16tr.mhmval16a17.astype('float64').subtract(std0712.mhmval12a17.astype('float64'),fill_value='NaN')
acshousing16tr['pcmhmval1216a17'] = 100.0*(acshousing16tr.cmhmval0016a17.astype('float64')/std0712.mhmval12a17.astype('float64'))
acshousing16tr['cmrent1216a17'] = acshousing16tr.mrent16a17.astype('float64').subtract(std0712.mrent12a17.astype('float64'),fill_value='NaN')
acshousing16tr['pcmrent1216a17'] = 100.0*(acshousing16tr.cmrent0016a17.astype('float64')/std0712.mrent12a17.astype('float64'))

acshousing16tr.head()

In [ ]:
acsincome1517tr = pd.read_csv('acs/acs_propsale_income_1517_tr.csv')
acsincome1517trcolumns = ['trtid10', 'hinc16','hinc16a17','hincw16','hincw16a17','hincb16','hincb16a17',
                          'hincn16','hincn16a17','hinca16','hinca16a17','hincp16','hincp16a17',
                          'hinco16','hinco16a17','hincm16','hincm16a17','hinch16','hinch16a17',
                          'meansp1517','minsp1517','maxsp1517','mediansp1517','stddevsp1517','totsp1517',
                          'nums1517','meansp1517a17','minsp1517a17','maxsp1517a17','mediansp1517a17',
                          'totsp1517a17','pir1517']
acsincome1517tr = acsincome1517tr[acsincome1517trcolumns]
acsincome1517tr.rename(columns={'trtid10':'id'},inplace=True)
acsincome1517tr.head()

In [ ]:
acsincome1517tr.replace(to_replace='-',value=np.nan,inplace=True)

acsincome1517tr['chinc1216a17'] = acsincome1517tr.hinc16a17.astype('float64').subtract(std0712.hinc12a17.astype('float64'),fill_value='NaN')
acsincome1517tr['chincw1216a17'] = acsincome1517tr.hincw16a17.astype('float64').subtract(std0712.hincw12a17.astype('float64'),fill_value='NaN')
acsincome1517tr['chincb1216a17'] = acsincome1517tr.hincb16a17.astype('float64').subtract(std0712.hincb12a17.astype('float64'),fill_value='NaN')
acsincome1517tr['chinca1216a17'] = acsincome1517tr.hinca16a17.astype('float64').subtract(std0712.hinca12a17.astype('float64'),fill_value='NaN')
acsincome1517tr['chinch1216a17'] = acsincome1517tr.hinch16a17.astype('float64').subtract(std0712.hinch12a17.astype('float64'),fill_value='NaN')
acsincome1517tr['cmeansp0917a17'] = acsincome1517tr.meansp1517a17.astype('float64').subtract(std0712.meansp0709a17.astype('float64'),fill_value='NaN')
acsincome1517tr['cmediansp0917a17'] = acsincome1517tr.mediansp1517a17.astype('float64').subtract(std0712.mediansp0709a17.astype('float64'),fill_value='NaN')

acsincome1517tr['pchinc1216a17'] = 100.0*(acsincome1517tr.chinc1216a17.astype('float64')/std0712.hinc12a17.astype('float64'))
acsincome1517tr['pchincw1216a17'] = 100.0*(acsincome1517tr.chincw1216a17.astype('float64')/std0712.hincw12a17.astype('float64'))
acsincome1517tr['pchincb1216a17'] = 100.0*(acsincome1517tr.chincb1216a17.astype('float64')/std0712.hincb12a17.astype('float64'))
acsincome1517tr['pchinca1216a17'] = 100.0*(acsincome1517tr.chinca1216a17.astype('float64')/std0712.hinca12a17.astype('float64'))
acsincome1517tr['pchinch1216a17'] = 100.0*(acsincome1517tr.chinch1216a17.astype('float64')/std0712.hinch12a17.astype('float64'))
acsincome1517tr['pcmeansp0917a17'] = 100.0*(acsincome1517tr.cmeansp0917a17.astype('float64')/std0712.meansp0709a17.astype('float64'))
acsincome1517tr['pcmediansp0917a17'] = 100.0*(acsincome1517tr.cmediansp0917a17.astype('float64')/std0712.mediansp0709a17.astype('float64'))

acsincome1517tr['chinc0016a17'] = acsincome1517tr.hinc16a17.astype('float64').subtract(std9800.hinc00a17.astype('float64'),fill_value='NaN')
acsincome1517tr['chincw0016a17'] = acsincome1517tr.hincw16a17.astype('float64').subtract(std9800.hincw00a17.astype('float64'),fill_value='NaN')
acsincome1517tr['chincb0016a17'] = acsincome1517tr.hincb16a17.astype('float64').subtract(std9800.hincb00a17.astype('float64'),fill_value='NaN')
acsincome1517tr['chinca0016a17'] = acsincome1517tr.hinca16a17.astype('float64').subtract(std9800.hinca00a17.astype('float64'),fill_value='NaN')
acsincome1517tr['chinch0016a17'] = acsincome1517tr.hinch16a17.astype('float64').subtract(std9800.hinch00a17.astype('float64'),fill_value='NaN')
acsincome1517tr['cmeansp0017a17'] = acsincome1517tr.meansp1517a17.astype('float64').subtract(std9800.meansp9800a17.astype('float64'),fill_value='NaN')
acsincome1517tr['cmediansp0017a17'] = acsincome1517tr.mediansp1517a17.astype('float64').subtract(std9800.mediansp9800a17.astype('float64'),fill_value='NaN')

acsincome1517tr['pchinc0016a17'] = 100.0*(acsincome1517tr.chinc0016a17.astype('float64')/std9800.hinc00a17.astype('float64'))
acsincome1517tr['pchincw0016a17'] = 100.0*(acsincome1517tr.chincw0016a17.astype('float64')/std9800.hincw00a17.astype('float64'))
acsincome1517tr['pchincb0016a17'] = 100.0*(acsincome1517tr.chincb0016a17.astype('float64')/std9800.hincb00a17.astype('float64'))
acsincome1517tr['pchinca0016a17'] = 100.0*(acsincome1517tr.chinca0016a17.astype('float64')/std9800.hinca00a17.astype('float64'))
acsincome1517tr['pchinch0016a17'] = 100.0*(acsincome1517tr.chinch0016a17.astype('float64')/std9800.hinch00a17.astype('float64'))
acsincome1517tr['pcmeansp0017a17'] = 100.0*(acsincome1517tr.cmeansp0017a17.astype('float64')/std9800.meansp9800a17.astype('float64'))
acsincome1517tr['pcmediansp0017a17'] = 100.0*(acsincome1517tr.cmediansp0017a17.astype('float64')/std9800.mediansp9800a17.astype('float64'))

acsincome1517tr.head()

In [ ]:
acseducation16tr = pd.read_csv('acs/acs_education_2016_tr.csv')
acseducation16trcolumns = ['id','ag25up16','colm16','colf16','col16','pcol16']
acseducation16tr = acseducation16tr[acseducation16trcolumns]
acseducation16tr.head()

In [ ]:
acseducation16tr.replace(to_replace='-',value=np.nan,inplace=True)
acseducation16tr['pccol1216'] = acseducation16tr.pcol16.astype('float64').subtract(std0712.pcol12.astype('float64'),fill_value='NaN')
acseducation16tr['pccol0016'] = acseducation16tr.pcol16.astype('float64').subtract(std9800.pcol00.astype('float64'),fill_value='NaN')

acseducation16tr.head()

In [ ]:
acs1517tr = pd.merge(acspop16tr,acshousing16tr,on='id')
acs1517tr = acs1517tr.merge(acsincome1517tr,on='id')
acs1517tr = acs1517tr.merge(acseducation16tr,on='id')
acs1517tr.head()

In [ ]:
stdall.rename(columns={'trtid10':'id'},inplace=True)
ltdbacs7016 = pd.merge(stdall,acs1517tr,on='id')
ltdbacs7016.head()

In [ ]:
ltdbacs7016.replace(to_replace='-',value='NaN',inplace=True)
ltdbacs7016.replace(to_replace=-np.inf,value='NaN',inplace=True)

In [ ]:
ltdbacs7016.to_csv('durham_ltdbacs_7016_tr.csv',index=False,float_format='%.2f',na_rep='NaN')

In [ ]:
ltdbacs7016tr = pd.read_csv('durham_ltdbacs_7016_tr.csv')

In [ ]:
f = open('models_ltdbacs7016tr.py','w')

f.write('from django.db import models\n')
f.write('\n')
f.write('class LTDBACS_trts_7016(models.Model):\n')

for col in ltdbacs7016tr.columns:
    var = str(ltdbacs7016tr[col].max())
    digits = str(len(var)+1)
    decimal = str(len(var.split('.')))
    isnull = str(ltdbacs7016tr[col].isnull().values.any())
    if col == 'id':
        f.write('   '+col+' = models.TextField(12,primary_key=True)\n')
    else:
        f.write('   '+col+' = models.DecimalField(max_digits='+digits+',decimal_places='+decimal+',null='+isnull+')\n')

f.close()

In [ ]:
f = open('serializers_ltdbacs7016tr.py','w')

f.write('class LTDBACS_trts_7016Serializer (serializers.ModelSerializer):\n')
f.write('    class Meta:\n')
f.write('        model = LTDBACS_trts_7016\n')
f.write('        fields = (')

columns = ltdbacs7016tr.columns

for column in columns:
    if column == columns[len(columns)-1]:
        f.write("'"+column+"'")
    else:
        f.write("'"+column+"',")
    
f.write(')\n')
f.close()

In [ ]:
f = open('durham_ltdbacs_7016_tr.sql','w')

f.write('\copy datahub_be_app_ltdbacs_trts_7016(')
columns = ltdbacs7016tr.columns

for column in columns:
    if column == columns[len(columns)-1]:
        f.write(column)
    else:
        f.write(column+",")
    
f.write(") FROM 'durham_ltdbacs_7016_tr.csv' WITH DELIMITER ',' CSV HEADER;\n")
f.write('\n')
f.write('COMMIT;')
f.close()

In [ ]:
mapdesc = pd.read_csv('ltdbacs_trts_vuemapmenu.csv',sep='|')
mapdesc.head()

In [ ]:
columns = np.array(ltdbacs7016tr.columns)

f = open('ltdbacs_trts_vuemapmenu.json','w')
for column in columns:
    colyear = column[len(column)-2:]
    if colyear == '17':
        if column[len(column)-3:] == 'a17':
            if column[len(column)-7:len(column)-3].isnumeric() == True:
                colvar = column[:len(column)-7]
                colyr1 = column[len(column)-7:len(column)-5]
                colyr2 = column[len(column)-5:len(column)-3]
                if colyr1 == '98':
                    var = mapdesc.loc[mapdesc['var'] == colvar]
                    f.write("        {label: '"+var.desc.to_string(index=False)+" between 19"+colyr1+
                            " and 20"+colyr2+", Adjusted to 2017 Dollars"+
                            "', value: '"+column+"', type: 'trts'},\n")
                else:
                    var = mapdesc.loc[mapdesc['var'] == colvar]
                    f.write("        {label: '"+var.desc.to_string(index=False)+" between 20"+colyr1+
                            " and 20"+colyr2+", Adjusted to 2017 Dollars"+
                            "', value: '"+column+"', type: 'trts'},\n")
            elif column[len(column)-7:len(column)-3].isnumeric() == False:
                colvar = column[:len(column)-5]
                colyr = column[len(column)-5:len(column)-3]
                if int(colyr) < 20:
                    var = mapdesc.loc[mapdesc['var'] == colvar]
                    f.write("        {label: '"+var.desc.to_string(index=False)+" in 20"+colyr+
                            ", Adjusted to 2017 Dollars"+
                            "', value: '"+column+"', type: 'trts'},\n")
                elif int(colyr) > 20:
                    var = mapdesc.loc[mapdesc['var'] == colvar]
                    f.write("        {label: '"+var.desc.to_string(index=False)+" in 19"+colyr+
                            ", Adjusted to 2017 Dollars"+
                            "', value: '"+column+"', type: 'trts'},\n")
                else:
                    print(colyr)
            else:
                print(column)
        else:
            colvar = column[:len(column)-4]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("        {label: '"+var.desc.to_string(index=False)+" between 2015 and 2017"
                    "', value: '"+column+"', type: 'trts'},\n")
    else:
        if column[len(column)-4:].isnumeric() == True:
            colvar = column[:len(column)-4]
            colyr1 = column[len(column)-4:len(column)-2]
            colyr2 = column[len(column)-2:]
            if colyr1 == '98':
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("        {label: '"+var.desc.to_string(index=False)+" between 19"+colyr1+
                        " and 20"+colyr2+", "+
                        "', value: '"+column+"', type: 'trts'},\n")
            else:
                if column == columns[len(columns)-1]:
                    var = mapdesc.loc[mapdesc['var'] == colvar]
                    f.write("        {label: '"+var.desc.to_string(index=False)+" between 20"+colyr1+
                            " and 20"+colyr2+", "+
                            "', value: '"+column+"', type: 'trts'}\n")
                else:
                    var = mapdesc.loc[mapdesc['var'] == colvar]
                    f.write("        {label: '"+var.desc.to_string(index=False)+" between 20"+colyr1+
                            " and 20"+colyr2+", "+
                            "', value: '"+column+"', type: 'trts'},\n")
            
        elif column[len(column)-4:].isnumeric() == False:
            colvar = column[:len(column)-2]
            colyr = column[len(column)-2:]
            if colyr == 'id':
                print(colyr)
            elif int(colyr) < 20:
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("        {label: '"+var.desc.to_string(index=False)+" in 20"+colyr+
                        "', value: '"+column+"', type: 'trts'},\n")
            elif int(colyr) > 20:
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("        {label: '"+var.desc.to_string(index=False)+" in 19"+colyr+
                        "', value: '"+column+"', type: 'trts'},\n")
            else:
                print(colyr)
        else:
            print(column)
            
f.write('\n')

for column in columns:
    colyear = column[len(column)-2:]
    if colyear == '17':
        if column[len(column)-3:] == 'a17':
            if column[len(column)-7:len(column)-3].isnumeric() == True:
                colvar = column[:len(column)-7]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'trts') {\n")
                f.write("        desc = '"+var.desc.to_string(index=False)+
                        ", Adjusted to 2017 Dollars: ' + numberWithCommas(this.currentDurhamtr."+column+")\n")
                f.write("      }\n")                
            elif column[len(column)-7:len(column)-3].isnumeric() == False:
                colvar = column[:len(column)-5]
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'trts') {\n")
                f.write("        desc = '"+var.desc.to_string(index=False)+
                        ", Adjusted to 2017 Dollars: ' + numberWithCommas(this.currentDurhamtr."+column+")\n")
                f.write("      }\n")
        else:
            colvar = column[:len(column)-4]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'trts') {\n")
            f.write("        desc = '"+var.desc.to_string(index=False)+", '" 
                    + " + numberWithCommas(this.currentDurhamtr."+column+")\n")
            f.write("      }\n")
    else:
        if column[len(column)-4:].isnumeric() == True:
            colvar = column[:len(column)-4]
            var = mapdesc.loc[mapdesc['var'] == colvar]
            f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'trts') {\n")
            f.write("        desc = '"+var.desc.to_string(index=False)+
                    ": ' + numberWithCommas(this.currentDurhamtr."+column+")\n")
            f.write("      }\n")            
        elif column[len(column)-4:].isnumeric() == False:
            colvar = column[:len(column)-2]
            colyr = column[len(column)-2:]
            if colyr == 'id':
                print(colyr)
            elif column == columns[1]:
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("      if (this.select.value === '"+column+"' && this.select.type === 'trts') {\n")
                f.write("        desc = '"+var.desc.to_string(index=False)+
                        ": ' + numberWithCommas(this.currentDurhamtr."+column+")\n")
                f.write("      }\n")                
            else:
                var = mapdesc.loc[mapdesc['var'] == colvar]
                f.write("      else if (this.select.value === '"+column+"' && this.select.type === 'trts') {\n")
                f.write("        desc = '"+var.desc.to_string(index=False)+
                        ": ' + numberWithCommas(this.currentDurhamtr."+column+")\n")
                f.write("      }\n")
        else:
            print(column)

f.close()

In [ ]:
f = open('schema_ltdbacs7016tr.sql','w')

f.write('SET CLIENT_ENCODING TO UTF8;\n')
f.write('SET STANDARD_CONFORMING_STRINGS TO ON;\n')
f.write('BEGIN;\n')
f.write('CREATE TABLE durham_ltdbacs_7016_tr (gid serial,\n')

for col in ltdbacs7016tr.columns:
    var = str(ltdbacs7016tr[col].max())
    digits = str(len(var)+1)
    decimal = str(len(var.split('.')))
    isnull = str(ltdbacs7016tr[col].isnull().values.any())
    if col == 'id':
        f.write('   '+col+' VARCHAR(12),\n')
    else:
        if col == ltdbacs7016tr.columns[len(ltdbacs7016tr.columns)-1]:
            f.write('   '+col+' DOUBLE PRECISION);\n')
        else:
            f.write('   '+col+' DOUBLE PRECISION,\n')
            
f.write('ALTER TABLE durham_ltdbacs_7016_tr ADD PRIMARY KEY (gid);\n')
f.write('COMMIT;\n')
f.close()